.treeNode {
  margin-left: 16px;
}

.node {
  cursor: pointer;
  padding: 4px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.selected {
  background-color: #90cdf4;
}

.toggle {
  margin-right: 4px;
}

.children {
  margin-left: 16px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-20px);
  transition: max-height 0.4s ease, opacity 0.4s ease, transform 0.4s ease;
}

.children.open {
  max-height: 500px;
  opacity: 1;
  transform: translateY(0);
}
