.treeNode {
  margin-left: 16px;
}

.node {
  cursor: pointer;
  padding: 4px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.selected {
  background-color: #90cdf4;
}

.toggle {
  margin-right: 4px;
}

.children {
  margin-left: 16px;
}
